@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h1>Welcome to the Task Master Pro 5000</h1>
    <a asp-action="Index" asp-controller="TaskToDo">Start Creating Tasks Today</a>    
</div>
